.searchPage {
  border-top: 1px solid gray;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding-top: 20px;
}
.searchField {
  background-color: #efefef;
  border-radius: 10px;
  padding-top: 10px;
  height: 365px;
}
.form-title {
  padding-top: 15px;
}
.search-btn {
  width: 100%;
  display: block;
  padding: 10px 30px;
  margin-top: 30px;
  border: 0;
  border-radius: 5px;
  outline: none;
  background: #3a42ff;
  color: white;
  cursor: pointer;
  font-weight: 400;
}
